name: Run python program

on:  
  push: 
    branches:
      - master
      
jobs:
  run-all:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout-code
        uses: actions/checkout@v4

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'


      - name: run main2.py
        run: python main2.py
